<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aero-Biker</title>
    
    <link rel="stylesheet" href="/css/tailwindcss/dist.css">
</head>
<body class="bg-gray-100 min-h-screen">
    {{{body}}}
</body>
</html>